<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="ToCeckoutSandboxTest">
    <classes>
           	
      <class name="dodatniRad.LoginTest"/>
      
      <class name="dodatniRad.AddProductTest"/>
      
      <class name="dodatniRad.EditProductTest"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->

